# --- For-Bot-Working --------- #
pyrogram
# --- pyrogram seems to not work anymore so use pyrofork ------ #
pyrofork
TgCrypto
pyromod==1.5
python-dotenv
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
